*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* BANNIERE */

.banniere{
   background:url("../img/banniere.jpg") center/cover no-repeat;
   height:400px;
   position:relative;
   text-align:center;
   align-items:center;
   display:flex;
   justify-content:center;
   
}


.banniere::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
}

.banniere-contenu{
    position:relative;
    z-index:1;
}

.banniere h1{
    font-size:45px;
    margin-bottom:10px;
}

.banniere p {
    font-size:18px;
    margin-bottom:20px;
}


.banniere a {
    display:inline-block;
    padding:12px 25px;
    margin-top: 15px;
    background-color: #02305d;
    color:#fff;
    text-decoration:none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.banniere a:hover {
  background: #005bb5;
  transform: scale(1.05);
}


/* MAIN INDEX */
.carte{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.article-carte{
    flex: 1 1 250px;        
    max-width: 300px;       
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.article.carte:hover{
    transform: scale(1.05);
}

.article-carte img {
    width:100%;
    height:180px;
    object-fit:cover;
}

.article-info{
    padding:15px;
    text-align:center;
}

.article-info .date{
    font-size:12px;
    color:#888;
    margin-bottom:8px;
}

.article-info .titre{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
    color:#333;
}

.article-info .category{
    font-size:14px;
    color:#1e90ff;
    text-transform:uppercase;
}

/* MAIN GALERIE */

.galerie {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.galerie h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0055A4; /* Bleu OM */
}

.ajustement-galerie{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.ajustement-galerie figure {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.ajustement-galeriefigure:hover {
  transform: translateY(-5px);
}

.ajustement-galerie img,
.ajustement-galerie video {
  width: 100%;
  height: 200px;
  object-fit: cover; 
  display: block;
}


.ajustement-galerie figcaption {
  padding: .8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  background-color: #f9f9f9;
}

/* CONTACT */

.contact{
  display: flex;
  gap: 2rem; 
  align-items: flex-start;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.formulaire{
    flex:2;
    max-width:600px;
    margin:2rem auto;
    padding:2rem;
    background-color:#f9f9f9;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.formulaire fieldset{
    border:none;
    margin-bottom:2rem;
    padding:0;
}

.formulaire legend{
    font-size:1.2rem;
    margin-bottom:1rem;
    font-weight:500;
    color:#333;
}

.formulaire label{
    display:block;
    margin-bottom:0.5rem;
    font-weight:600;
    color:#333;
}

.formulaire input, .formulaire select, .formulaire textarea{
    width:100%;
    padding:0.75rem;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:1rem;
    margin-bottom:1rem;
    transition:border-color 0.3s;
}

.formulaire button{
    cursor: pointer;
    color:#fff;
    background: #0055A4;
    padding: 9rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    transition: background 0.3s;
}

.formulaire button:hover {
  background: #0077cc;
  transform: translateY(-2px);
}

.formulaire input [type ="checkbox"]{
    width:auto;
    margin-right:8px;
}

/* ASIDE FORMULAIRE */

.contact-aside {
  flex: 1;
  background: #f1f1f1;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.contact-aside h2 {
  color: #0055A4;
  margin-bottom: .8rem;
}

.contact-aside i {
  color: #0055A4;
  margin-right: .5rem;
}

/* MEDIA QUESRIES */
@media (max-width: 768px) {
  .contact{
    flex-direction: column;
  }
}

