.logo{
    font-size:24px;
    font-weight:bold;
}

header{
    display:flex;
    justify-content:space-between;
    text-align:center;
    padding:15px 40px;
    background-color: #00274d;
    color:#ffff;
}

header nav ul {
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
    padding:0;
}

header nav ul li{
    display:flex;
    align-items:center;
}

header nav ul li a{
    text-decoration:none;
    font-size:16px;
    color:#ffff;
    transition:0.3s ease;
    display:flex;
    align-items:center;
    gap:8px;

}


header nav ul li a :hover{
    color:#1e90ff;
}

header nav ul li a i{
    font-size:18px;
}